extends layout


block content
    h1= FizzBuzzer
    p Welcome to the fizzBuzzer
    form(name="call", action="/start_call", method="post")
        div
            label Number to fizz xxxxxxxxxx
            input(type="text", name="number")
        div
            lable When to fizz  (any thing that works with this github.com/wanasit/chrono)
            input(type="text", name="when")
        input(type="submit")

    form(name="recall", action="/recall", method="post")
    table
        tr
            th To
            th From
            th When
            th Sid
            th Number Requested
            th Status
        each val in calls
            tr
                td= val.to
                td= val.from
                td= val.started
                td= val.when
                td= val.sid
                td
                    input(type="text", hidden=true, name="sid",value= val.sid)
                td= val.number_requested
                td= val.status
                td
                    input(type="submit")

